.post {
    display: grid;
    font-size: 11px;
    grid-template-rows: 8em 4em;
    grid-template-columns: 10% 25% 55% 10%;
    justify-items: center;
}

.owner {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 8em;
    height: 8em;
    border-radius: 50%;

}

.control {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 6em;
    height: 2em;
    align-self: center;
    border-radius: 10px;
}

.collaborators {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 100%;
}

.unmerged-collaborator {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    float: right;
    filter: grayscale(100%)
}

.merged-collaborator {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    float: left;
}

