session-preview {
    display: inline-flex
}

.user-info {
    margin: auto;
    padding: 10px; 
    width: 75%;
}

@media only screen and (min-width: 1050px) {
    .user-info {
        width: 30%;
    }
}

@media (max-width:1049px) and (min-width:650px) {
    .user-info {
        width: 45%;
    }
}

#profile-picture{ 
    width: 225px;
    height: 225px;
    border-radius: 55%;
}

.user-card-info{
    display: grid;
    align-items: end;
    padding: 15px;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-rows: 50px auto;
    grid-template-columns: 30% 25% 45%;
    align-items: center;
    text-align: left;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    /* background-color: lightcyan; */
    border: 2px; 
    border-style: groove;
    border-color: lightcyan;
    font-size: 9px;
}

@media only screen and (min-width: 600px) {
    .user-card-info {
        font-size: 14px;
    }
}

#username{
    font-size: 15px;
    align-self: start;
}

@media only screen and (min-width: 700px) {
    #username {
        font-size: 25px;
        justify-self: end;
        margin: 0px;
        width: 100%;
        align-self: end;
    }
}

#contact{
    grid-column: 2/4;
    justify-self: start;
    align-self: center;
    font-size: 9px;
    margin: 0px;
}

@media only screen and (min-width: 700px) {
    #contact {
        font-size: 12px;
        align-self: start;
    }
}


#location{
    grid-column: 2/4;

    background-color: lightgrey;
    align-self: start;
    margin: 0px;

}

#instrument{
    grid-column: 2/4;
    background-color: lightgrey;
    align-self: start;
    margin: 0px;
}

#genre{
    grid-column: 2/4;
    align-self: start;
    margin: 0px;
}

#anthem {
    grid-column: 2/4;
    background-color: lightgrey;
}
 #follow {
    color: blue
 }

 #unfollow{
    color: red;
    align-self: start;
    margin: 0px;
}

.collapse-info{
    grid-column: 1/2;
}

