session-preview {
    display: inline-flex
}

.user-info {
    margin: auto;
    padding: 10px; 
    width: 75%;
}

@media only screen and (min-width: 1050px) {
    .user-info {
        width: 30%;
    }
}

@media (max-width:1049px) and (min-width:650px) {
    .user-info {
        width: 45%;
    }
}
.profile-pic-container {
    margin-bottom: 1rem;
}

#profile-picture{ 
    width: 225px;
    height: 225px;
    border-radius: 55%;
}

.user-card-info{
    background-color: white;
    display: grid;
    align-items: end;
    padding: 15px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    grid-template-rows: 50px auto;
    grid-template-columns: 30% 25% 45%;
    align-items: center;
    text-align: left;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 0 solid #bcccdc;
    border-width: 1px;
    border-radius: .375rem;
    font-size: 9px;
}

@media only screen and (min-width: 600px) {
    .user-card-info {
        font-size: 14px;
    }
}

#username{
    font-size: 15px;
    align-self: start;
}

@media only screen and (min-width: 700px) {
    #username {
        font-size: 25px;
        justify-self: end;
        margin: 0px;
        width: 100%;
        align-self: end;
    }
}

#contact{
    grid-column: 2 / 4;
    justify-self: start;
    align-self: center;
    font-size: 9px;
    margin: 0px;
}

@media only screen and (min-width: 700px) {
    #contact {
        font-size: 12px;
        align-self: start;
    }
}

.location-info{
    grid-column: 2 / 4; 
    align-self: start;
    margin: 0px;
}

.instrument-info{
    grid-column: 2 / 4;
    align-self: start;
    margin: 0px;
}

.style-info{
    grid-column: 2 / 4;
    align-self: start;
    margin: 0px;
}

.anthem-info{
    grid-column: 2 / 4;
    align-self: start;
    margin: 0px;
}
.collapse-info{
    grid-column: 1 / 2;
}

 #follow {
    color: blue
 }

 #unfollow{
    color: red;

 }

 .edit-button{
    grid-column: 3 / 4;
    width: 50%;
    align-self: end;
    justify-self: end;
 }
