html, body{
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(254, 255, 241) ; 
    /* background-image: url('/sound-bars.jpg'); */
}

.main-page {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.main-title {
    font-family: Boogaloo;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF7B67;

    grid-column: 2/2;
    grid-row: 1/2;
}
.login-signup{
    grid-column: 2/2;
    grid-row: 3/3
}
  .background-image{
    background-image: url('/sound-bars.jpg'); 
    mix-blend-mode: difference;
    opacity: 0.1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); 
} 

.round-button {
    border-radius: 1rem;
}

.landing-form {
    width: 100%;
}