@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');

html, body {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(254, 255, 241) ; 
    /* background-image: url('https://cdn.wallpapersafari.com/24/86/2y6oVT.png'); */
}

.main-page {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: .5fr 1.5fr 1fr .25fr;
    border-bottom-style: inset;
    border-bottom-color: whitesmoke;
}

.main-title {
    font-family: Boogaloo;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF7B67;
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: lightcyan;
}
.tag-line {
    font-family: Roboto ;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1 em;
    grid-column: 1/4;
    grid-row: 2/3;
    color: #3A86FF;
}
#landing-text {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1 em;
    grid-column: 2/3;
    grid-row: 3/4;
    color: #FF7B67;
}

.login-signup{
    z-index: 1;
    grid-column: 2/3;
    grid-row: 2/2;
    margin-top: 50px
    /* align-self: center; */
    /* background-color: lightcyan; */
}
.login-form, .signup-form {
    background-color: lightcyan;
    grid-row: 2/2;
}

.background-image{
    opacity: 0.05;
    grid-column: 1/4;
    grid-row: 1/5
} 
#img {
    width: 100%;
}

.round-button {
    border-radius: 1rem;
}

.landing-form {
    width: 100%;
}

@media only screen and (max-width: 600px ){

    #landing-text {
        grid-column: 1/4;
        grid-row: 3/4;
    }

}