@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans+Condensed:wght@300&family=Roboto&display=swap');

html, body {
    margin: 0;
    height: 100%;
    font-family: Roboto;
}

body {
    height: 100%;
    background-color: rgb(254, 255, 241) ; 
    /* background-image: url('https://cdn.wallpapersafari.com/24/86/2y6oVT.png'); */
}

.main-page {
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 500px 100px;
    border-bottom-style: inset;
    border-bottom-color: whitesmoke;
}

@media only screen and (max-width: 800px ){
    .main-page {
        grid-template-columns: 9% 82% 9%;
        grid-template-rows: 120px 480px 100px;
    }
}

.main-title {
    font-family: Boogaloo;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FF7B67;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: lightcyan;
}

.tag-line {
    font-family: Roboto ;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1 em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    color: #3A86FF;
}

@media only screen and (max-width: 600px ){
    .tag-line {
        font-size: 20px;
    }
}

#landing-text {
    margin-left: 7.5%;
    margin-right: 7.5%;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1 em;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    color: #FF7B67;
}

@media only screen and (max-width: 600px ){
    #landing-text {
        font-size: 12px;
    }
}

.login-signup{
    z-index: 1;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 50px;
    /* align-self: center; */
    /* background-color: lightcyan; */
}
.login-form, .signup-form {
    background-color: hsl(180, 100%, 94%, 0.6);
    grid-row: 2/2;
}

.background-image{
    opacity: 0.05;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
} 

#img {
    width: 100%;
}

.round-button {
    border-radius: 1rem;
}

.landing-form {
    width: 100%;
}

.login-info {
    width: 92%;
}

.signup-info {
    display: flex;
    justify-content: space-around;
}

.main-info {
    margin: 2%;
}
.more-info {
    margin: 2%;
}

#form-title {
    font-family: Roboto;
}