.reef-info2 {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .reef-info2 {
        margin-top: 0px;
    }
}

.personal-feed {
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .personal-feed {
        margin-top: 0px;
    }
}